<form method="POST" action="<%=album_url(@album)%>">
	<input type ="hidden" name="_method" value="PUT">
  <label>Title</label><br>
  <input type="text" name="album[name]" value="<%=@album.name%>"><br>
  <label>Body</label><br>
  <textarea class ="body-area" name="album[description]" value="<%=@album.description%>"></textarea><br>
  <!-- refactor and fix hardcoded value -->
  <label>Make this album:</label>
  Public<input type = "radio" name = "album[public]" value = "true" <%= "checked" if @album.public  %> >
  Private<input type = "radio" name = "album[public]" value = "false" <%= "checked" if !@album.public%>>
  <input type="hidden" name="album[user_id]" value = "<%=current_user.id%>" >
  <input type="submit"><%=flash[:notice]%>
</form>
